* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Font Size */
  --fs-primary: 3.6rem;
  --fs-dis: 2.4rem;
  /* Colors */

  --color-primary-Violet: hsl(257, 40%, 49%);
  --color-btn-Soft-Magenta: hsl(300, 69%, 71%);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
header {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
  background: var(--color-primary-Violet);
}
.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.mix-margin {
  margin-top: 2rem;
}
.img-l {
  width: 20rem;
  padding: 4rem 0;
}
.img-i {
  width: 100%;
}
.heading-primary {
  font-size: var(--fs-primary);
  font-weight: 600;
}
